@charset "UTF-8";/*We use the @ to declare a rule in CSS3, this rule is used to declare accent compatibility in css.*/  

@font-face {/*Use @font-face to put external fonts of your pc.*/
    font-family: 'Glamour';
    src: url('font/Glamor-Regular.ttf') format('truetype');/*We apply here external font.*/
}

/*To a complete material in CSS3, use that link - https://docs.google.com/document/d/1JHKKVavCOThA6jxtbbCXfCu6MSGf9TngEW06EdSdk_4/edit*/

* {}/*Using this selector to add Global Configurations in CSS3*/

/*Using Color*/ 
/*We use the hexadecimal code to represent the color that will be applied.*/ 
p {
    background-color: #002330;/*We use the background-color parameter to set the website background.*/
    color: #ffffff;/*We use the color parameter to set the text color.*/
} 

/*Using Gradient*/ 
/*Using parameters to create gradients backgrounds*/
body {
    background-image: linear-gradient(to right, #ffff00, #ffa500);/*Create a gradient background linear in website.*/
    background-image: radial-gradient();/*Create a gradient background radial in website.*/
} 

/*Using Text*/ 

p {
/*Example shorthand.*/
/*Shorthand font = font: font-style, font-weight, font-size, font-family; (use this feature to make writing code easier.*/

    font-family:/*Use the parameter to define the font that we will use in the website.*/ 
        'Ebrima';/*Put the name font inside the parameter.*/
    
    font-size:/*Use the parameter to define the size font.*/ 
        17px;/*Use pixel to unit of measurement to font.*/ 

    font-weight:/*Sets the font weight, to bloder or to lighter.*/ 
        lighter,/*Sets the font thinnest.*/
        normal,/*Sets the normal font.*/ 
        bold,/*Sets the bold font.*/
        bolder;/*Sets the bolder font.*/ 

    font-style:/*Use the parameter to change the font style.*/
        italic;/*Put the font in italic style.*/ 

    text-decoration:/*Use the parameter to sets lines in the text.*/ 
        line-through,/*lines inside the text.*/
        overline,/*lines up the text.*/   
        underline;/*lines under the text.*/

    text-align:/*Using this parameter to align text*/ 
        center,
        left, 
        right, 
        justify;
}